html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}

#message {
  font-size: 24pt;
  font-weight: bold;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: rgb(122, 5, 168);
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/80% url("images/poppins.png") rgb(252, 248, 6);
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/70% url("images/mark.svg") rgb(183, 2, 219);
}
.d-row {
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
